Repository aaronbassett/SMILE: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, python-ruff, python-ruff-format

rust-fmt:
  run: cargo fmt -- --check
  skip:
  - merge
  - rebase

rust-clippy:
  run: cargo clippy --all-targets -- -D warnings
  skip:
  - merge
  - rebase

python-ruff:
  run: cd python && ruff check {staged_files}
  skip:
  - merge
  - rebase

python-ruff-format:
  run: cd python && ruff format --check {staged_files}
  skip:
  - merge
  - rebase

chore(sdd): finalize phase 5 retro and update CLAUDE.md
  CLAUDE.md
  crates/smile-container/src/lib.rs
  retro/P5.md
  specs/001-smile-loop/tasks.md
Due: rust-fmt, rust-clippy

chore(sdd): mark Phase 5 complete
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): initialize phase 6 retro
  specs/001-smile-loop/retro/P6.md
  specs/001-smile-loop/tasks.md
Due: none

feat(wrappers): add prompt construction module
  python/smile_wrappers/__init__.py
  python/smile_wrappers/prompts.py
  specs/001-smile-loop/tasks.md
Due: python-ruff, python-ruff-format

feat(wrappers): implement Student wrapper with LLM CLI invocation
  python/smile_wrappers/student.py
  specs/001-smile-loop/tasks.md
Due: python-ruff, python-ruff-format

feat(wrappers): add stuck detection logic
  python/smile_wrappers/student.py
  specs/001-smile-loop/tasks.md
Due: python-ruff, python-ruff-format

feat(wrappers): add structured output parsing with recovery
  python/smile_wrappers/__init__.py
  python/smile_wrappers/output.py
  python/tests/test_output_parser.py
  specs/001-smile-loop/tasks.md
Due: python-ruff, python-ruff-format

feat(wrappers): add HTTP callback to orchestrator
  python/smile_wrappers/__init__.py
  python/smile_wrappers/student.py
  specs/001-smile-loop/tasks.md
Due: python-ruff, python-ruff-format

chore(sdd): finalize phase 6 retro and update CLAUDE.md
  CLAUDE.md
  specs/001-smile-loop/retro/P6.md
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): mark Phase 6 complete
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): initialize phase 7 retro
  specs/001-smile-loop/retro/P7.md
Due: none

feat(wrappers): implement mentor agent wrapper
  python/smile_wrappers/mentor.py
Due: python-ruff, python-ruff-format

chore(wrappers): export mentor wrapper public API
  python/smile_wrappers/__init__.py
Due: python-ruff, python-ruff-format

test(wrappers): add mentor wrapper test suite
  python/tests/test_mentor.py
Due: python-ruff, python-ruff-format

chore(sdd): finalize phase 7 retro and update tasks
  specs/001-smile-loop/retro/P7.md
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): mark Phase 7 complete
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): initialize phase 8 retro
  specs/001-smile-loop/retro/P8.md
Due: none

feat(orchestrator): add loop state types
  crates/smile-orchestrator/src/lib.rs
  crates/smile-orchestrator/src/loop_state.rs
Due: rust-fmt, rust-clippy

feat(orchestrator): implement loop state machine transitions
  crates/smile-orchestrator/src/error.rs
  crates/smile-orchestrator/src/loop_state.rs
Due: rust-fmt, rust-clippy

feat(orchestrator): add HTTP API endpoints
  Cargo.lock
  Cargo.toml
  crates/smile-orchestrator/src/api.rs
  crates/smile-orchestrator/src/lib.rs
  specs/001-smile-loop/tasks.md
Due: rust-fmt, rust-clippy

feat(orchestrator): add state persistence for crash recovery
  crates/smile-orchestrator/src/lib.rs
  crates/smile-orchestrator/src/loop_state.rs
Due: rust-fmt, rust-clippy

feat(orchestrator): add termination condition checking
  crates/smile-orchestrator/src/lib.rs
  crates/smile-orchestrator/src/loop_state.rs
Due: rust-fmt, rust-clippy

feat(cli): integrate loop orchestration with container management
  crates/smile-cli/Cargo.toml
  crates/smile-cli/src/main.rs
Due: rust-fmt, rust-clippy

chore(sdd): finalize phase 8 retro and update tasks
  specs/001-smile-loop/retro/P8.md
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): complete phase 8 loop orchestration
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): initialize phase 9 retro
  specs/001-smile-loop/retro/P9.md
  specs/001-smile-loop/tasks.md
Due: none

feat(report): add report types
  crates/smile-report/src/lib.rs
  specs/001-smile-loop/tasks.md
Due: rust-fmt, rust-clippy

feat(report): add Markdown and JSON report generators
  crates/smile-report/src/json.rs
  crates/smile-report/src/lib.rs
  crates/smile-report/src/markdown.rs
  specs/001-smile-loop/tasks.md
Due: rust-fmt, rust-clippy

feat(report): add gap extraction from loop history
  crates/smile-report/Cargo.toml
  crates/smile-report/src/lib.rs
  specs/001-smile-loop/tasks.md
Due: rust-fmt, rust-clippy

feat(cli): integrate report generation on loop completion
  crates/smile-cli/src/main.rs
  specs/001-smile-loop/tasks.md
Due: rust-fmt, rust-clippy

chore(sdd): finalize phase 9 retro and update tasks
  specs/001-smile-loop/retro/P9.md
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): mark phase 9 complete
  specs/001-smile-loop/tasks.md
Due: none

chore: update Cargo.lock with latest dependencies
  Cargo.lock
Due: none

chore(retro): initialize phase 10 retrospective
  specs/001-smile-loop/retro/P10.md
Due: none

feat(test): add sample tutorial fixture with intentional gaps
  tests/integration/fixtures/sample-tutorial/EXPECTED_GAPS.md
  tests/integration/fixtures/sample-tutorial/smile.json
  tests/integration/fixtures/sample-tutorial/tutorial.md
Due: none

feat(docker): finalize Dockerfile.base with LLM CLI installation
  docker/Dockerfile.base
Due: none

feat(test): add end-to-end integration test suite
  Cargo.toml
  tests/integration/Cargo.toml
  tests/integration/test_loop.rs
Due: rust-fmt, rust-clippy

chore(sdd): finalize phase 10 retrospective
  specs/001-smile-loop/retro/P10.md
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): mark phase 10 complete
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): initialize phase 11 retro
  specs/001-smile-loop/retro/P11.md
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-clippy: any of: *.rs
  python-ruff: any of: *.py and ^python/
  python-ruff-format: any of: *.py and ^python/
