Repository aaronbassett/SMILE: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, python-ruff, python-ruff-format

lefthook.yml:

# lefthook configuration for SMILE Loop
# Install: brew install lefthook && lefthook install

# Validate commit messages follow conventional commits
commit-msg:
  commands:
    commitlint:
      run: |
        msg=$(cat {1})
        # Pattern: type(scope): subject or type: subject
        if ! echo "$msg" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .{1,}$'; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Format: type(scope): subject"
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo "Example: feat(orchestrator): add WebSocket broadcast"
          exit 1
        fi

# Pre-commit: fast checks on staged files
pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt -- --check
      skip:
        - merge
        - rebase

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
      skip:
        - merge
        - rebase

    python-ruff:
      root: "python/"
      glob: "*.py"
      run: cd python && ruff check {staged_files}
      skip:
        - merge
        - rebase

    python-ruff-format:
      root: "python/"
      glob: "*.py"
      run: cd python && ruff format --check {staged_files}
      skip:
        - merge
        - rebase

# Pre-push: full validation before pushing
pre-push:
  parallel: false
  commands:
    rust-test:
      glob: "*.rs"
      run: cargo test --all

    rust-clippy-strict:
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings

    python-test:
      root: "python/"
      glob: "*.py"
      run: cd python && pytest

    python-mypy:
      root: "python/"
      glob: "*.py"
      run: cd python && mypy smile_wrappers

feat(ws): add WebSocket event types and broadcaster
  crates/smile-orchestrator/src/lib.rs
  crates/smile-orchestrator/src/websocket.rs
Due: rust-fmt, rust-clippy

feat(ws): integrate WebSocket events into API endpoints
  crates/smile-orchestrator/src/api.rs
Due: rust-fmt, rust-clippy

test(ws): add WebSocket integration tests
  Cargo.lock
  tests/integration/Cargo.toml
  tests/integration/test_websocket.rs
Due: rust-fmt, rust-clippy

chore(sdd): mark phase 11 complete
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): initialize phase 12 retro
  specs/001-smile-loop/retro/P12.md
Due: none

docs: update README with comprehensive documentation
  README.md
Due: none

chore(sdd): finalize phase 12 retro
  specs/001-smile-loop/retro/P12.md
  specs/001-smile-loop/tasks.md
Due: none

fix(cli): add EventBroadcaster to AppState in CLI
  crates/smile-cli/src/main.rs
Due: rust-fmt, rust-clippy

feat(wrappers): add camelCase alias support and integration tests
  python/smile_wrappers/config.py
  python/smile_wrappers/output.py
  python/tests/test_integration.py
  tests/integration/fixtures/mock-cli/mock_llm
  tests/integration/fixtures/mock-cli/scenarios/mentor_responses.json
  tests/integration/fixtures/mock-cli/scenarios/missing_npm.json
Due: python-ruff, python-ruff-format

feat(tests): add multi-tutorial fixtures for end-to-end validation
  tests/integration/fixtures/docker-setup-tutorial/EXPECTED_GAPS.md
  tests/integration/fixtures/docker-setup-tutorial/smile.json
  tests/integration/fixtures/docker-setup-tutorial/tutorial.md
  tests/integration/fixtures/mock-cli/scenarios/docker_setup.json
  tests/integration/fixtures/mock-cli/scenarios/docker_setup_mentor.json
  tests/integration/fixtures/mock-cli/scenarios/python_fastapi.json
  tests/integration/fixtures/mock-cli/scenarios/python_fastapi_mentor.json
  tests/integration/fixtures/python-fastapi-tutorial/EXPECTED_GAPS.md
  tests/integration/fixtures/python-fastapi-tutorial/smile.json
  tests/integration/fixtures/python-fastapi-tutorial/tutorial.md
  tests/integration/test_loop.rs
Due: rust-fmt, rust-clippy

docs: add gap severity mapping and fixtures documentation
  specs/001-smile-loop/data-model.md
  tests/integration/fixtures/README.md
Due: none

docs: update CLAUDE.md with release info and feedback channels
  CLAUDE.md
Due: none

ci: add MSRV testing job for Rust 1.75 compliance
  .github/workflows/ci.yml
Due: none

fix: pin time crate for MSRV 1.75 compatibility
  Cargo.lock
  Cargo.toml
Due: none

fix: pin idna_adapter for MSRV 1.75 compatibility
  Cargo.lock
  Cargo.toml
Due: none

fix: pin serde_with for MSRV 1.75 compatibility
  Cargo.lock
  Cargo.toml
Due: none

fix: use idna_adapter <1.2.0 to avoid icu4x MSRV issues
  Cargo.lock
  Cargo.toml
Due: none

fix: pin indexmap for MSRV 1.75 compatibility
  Cargo.lock
  Cargo.toml
Due: none

fix: pin native-tls for MSRV 1.75 compatibility
  Cargo.lock
  Cargo.toml
Due: none

ci: add MSRV testing and pin dependencies for Rust 1.75
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
Due: none

docs: add community engagement infrastructure for alpha
  .github/ISSUE_TEMPLATE/alpha_feedback.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: none

fix(orchestrator): invoke student/mentor wrappers in main loop
  crates/smile-cli/src/main.rs
  crates/smile-container/src/lib.rs
  crates/smile-container/src/manager.rs
Due: rust-fmt, rust-clippy

fix(api): handle race condition in callback handlers
  crates/smile-orchestrator/src/api.rs
Due: rust-fmt, rust-clippy

fix(cli): provision runtime artifacts into container for wrappers
  Cargo.lock
  crates/smile-cli/Cargo.toml
  crates/smile-cli/src/main.rs
Due: rust-fmt, rust-clippy

fix(report): use char boundaries for string truncation
  crates/smile-report/src/lib.rs
  crates/smile-report/src/markdown.rs
Due: rust-fmt, rust-clippy

test(integration): implement end-to-end loop test with mock LLM
  tests/integration/test_loop.rs
Due: rust-fmt, rust-clippy

fix(cli): honor container retention config settings
  crates/smile-cli/src/main.rs
Due: rust-fmt, rust-clippy

fix(orchestrator): use strict inequality for max iterations check
  crates/smile-orchestrator/src/loop_state.rs
Due: rust-fmt, rust-clippy

test(python): add comprehensive student wrapper test coverage
  python/tests/test_student.py
Due: python-ruff, python-ruff-format

test(report): add insta snapshot tests for markdown report generation
  Cargo.lock
  Cargo.toml
  crates/smile-report/Cargo.toml
  crates/smile-report/src/markdown.rs
  crates/smile-report/src/snapshots/smile_report__markdown__tests__critical_gaps_only.snap
  crates/smile-report/src/snapshots/smile_report__markdown__tests__empty_report.snap
  crates/smile-report/src/snapshots/smile_report__markdown__tests__full_report.snap
Due: rust-fmt, rust-clippy

test(report): replace insta with comprehensive structure validation tests
  Cargo.lock
  Cargo.toml
  crates/smile-report/Cargo.toml
  crates/smile-report/src/markdown.rs
  crates/smile-report/src/snapshots/smile_report__markdown__tests__critical_gaps_only.snap
  crates/smile-report/src/snapshots/smile_report__markdown__tests__empty_report.snap
  crates/smile-report/src/snapshots/smile_report__markdown__tests__full_report.snap
Due: rust-fmt, rust-clippy

chore: update Cargo.lock to pin MSRV-compatible dependency versions
  Cargo.lock
Due: none

chore: pin more dependencies for MSRV 1.75 compatibility
  Cargo.lock
Due: none

refactor(tests): consolidate fixture path helpers into single function
  tests/integration/test_loop.rs
Due: rust-fmt, rust-clippy

refactor(python): extract common file loading utilities to shared module
  python/smile_wrappers/mentor.py
  python/smile_wrappers/student.py
  python/smile_wrappers/utils.py
  python/tests/test_mentor.py
  python/tests/test_student.py
Due: python-ruff, python-ruff-format

perf(report): use once_cell::Lazy for regex compilation in ReportGenerator
  Cargo.lock
  Cargo.toml
  crates/smile-report/Cargo.toml
  crates/smile-report/src/lib.rs
Due: rust-fmt, rust-clippy

perf(tutorial): use once_cell::Lazy for regex compilation in image extraction
  Cargo.lock
  crates/smile-orchestrator/Cargo.toml
  crates/smile-orchestrator/src/tutorial.rs
Due: rust-fmt, rust-clippy

fix(tutorial): harden image extraction against path traversal
  crates/smile-orchestrator/src/tutorial.rs
Due: rust-fmt, rust-clippy
