Repository aaronbassett/SMILE: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, python-ruff, python-ruff-format

rust-fmt:
  run: cargo fmt -- --check
  skip:
  - merge
  - rebase

rust-clippy:
  run: cargo clippy --all-targets -- -D warnings
  skip:
  - merge
  - rebase

python-ruff:
  run: cd python && ruff check {staged_files}
  skip:
  - merge
  - rebase

python-ruff-format:
  run: cd python && ruff format --check {staged_files}
  skip:
  - merge
  - rebase

feat(docker): add base Dockerfile for agent execution
  docker/Dockerfile.base
Due: none

fix: resolve clippy lints and lefthook paths
  Cargo.toml
  crates/smile-container/src/lib.rs
  crates/smile-orchestrator/src/lib.rs
  crates/smile-report/src/lib.rs
  lefthook.yml
Due: rust-fmt, rust-clippy

chore: simplify rustfmt.toml to stable features only
  rustfmt.toml
Due: none

fix(lefthook): use venv bin paths for Python hooks
  lefthook.yml
Due: none

fix(lefthook): correct venv paths relative to root setting
  lefthook.yml
Due: none

ci: add GitHub Actions workflow for CI
  .github/workflows/ci.yml
Due: none

chore(python): disable coverage fail_under until code exists
  python/pyproject.toml
Due: none

chore: add developer tooling configuration
  .editorconfig
  Justfile
Due: none

docs: add Claude Code context file
  CLAUDE.md
Due: none

feat(sdd): add feature specification and planning artifacts
  .sdd/codebase/STACK.md
  .sdd/memory/constitution.md
  specs/001-smile-loop/checklists/requirements.md
  specs/001-smile-loop/contracts/orchestrator-api.yaml
  specs/001-smile-loop/contracts/websocket-events.yaml
  specs/001-smile-loop/data-model.md
  specs/001-smile-loop/plan.md
  specs/001-smile-loop/quickstart.md
  specs/001-smile-loop/research-artifacts/BOLLARD_ADVANCED_PATTERNS.md
  specs/001-smile-loop/research-artifacts/BOLLARD_BEST_PRACTICES.md
  specs/001-smile-loop/research-artifacts/BOLLARD_INDEX.md
  specs/001-smile-loop/research-artifacts/BOLLARD_QUICK_REFERENCE.md
  specs/001-smile-loop/research-artifacts/BOLLARD_RESEARCH_SUMMARY.md
  specs/001-smile-loop/research-artifacts/BOLLARD_WORKFLOW_GUIDE.md
  specs/001-smile-loop/research-artifacts/INDEX_LLM_WRAPPERS.md
  specs/001-smile-loop/research-artifacts/LLM_CLI_QUICK_REFERENCE.md
  specs/001-smile-loop/research-artifacts/LLM_CLI_WRAPPER_GUIDE.md
  specs/001-smile-loop/research-artifacts/README_LLM_CLI_WRAPPERS.md
  specs/001-smile-loop/research-artifacts/START_HERE.md
  specs/001-smile-loop/research-artifacts/bollard_examples.rs
  specs/001-smile-loop/research-artifacts/examples_llm_cli_usage.py
  specs/001-smile-loop/research-artifacts/llm_cli_wrapper.py
  specs/001-smile-loop/research-artifacts/test_llm_cli_wrapper.py
  specs/001-smile-loop/research.md
  specs/001-smile-loop/spec.md
  specs/001-smile-loop/tasks.md
Due: rust-fmt, rust-clippy

docs(sdd): add specification discovery artifacts
  discovery/OPEN_QUESTIONS.md
  discovery/OPEN_QUESTIONS.md.backup
  discovery/SPEC.md
  discovery/STATE.md
  discovery/STATE.md.backup
  discovery/archive/DECISIONS.md
  discovery/archive/DECISIONS.md.backup
  discovery/archive/ITERATIONS.md
  discovery/archive/RESEARCH.md
  discovery/archive/REVISIONS.md
Due: none

chore: add ralph orchestration configuration
  ralph.toml
Due: none

chore(sdd): mark Phase 1 tasks complete
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): initialize phase 2 retro
  retro/P2.md
Due: none

feat(orchestrator): add SmileError type with thiserror
  crates/smile-orchestrator/src/error.rs
  crates/smile-orchestrator/src/lib.rs
Due: rust-fmt, rust-clippy

feat(orchestrator): add configuration types with serde defaults
  crates/smile-orchestrator/src/config.rs
  crates/smile-orchestrator/src/lib.rs
Due: rust-fmt, rust-clippy

feat(python): add StudentOutput and Config pydantic models
  python/smile_wrappers/__init__.py
  python/smile_wrappers/config.py
  python/smile_wrappers/output.py
Due: python-ruff, python-ruff-format

feat(cli): add CLI skeleton with clap argument parsing
  crates/smile-cli/src/main.rs
Due: rust-fmt, rust-clippy

chore(sdd): finalize phase 2 retro and mark tasks complete
  retro/P2.md
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): mark Phase 2 complete
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): initialize phase 3 retro
  retro/P3.md
Due: none

feat(orchestrator): implement config file loading from smile.json
  crates/smile-orchestrator/src/config.rs
Due: rust-fmt, rust-clippy

feat(orchestrator): add config validation with descriptive errors
  crates/smile-orchestrator/src/config.rs
  crates/smile-orchestrator/src/error.rs
Due: rust-fmt, rust-clippy

feat(cli): integrate config loading from smile.json
  crates/smile-cli/src/main.rs
Due: rust-fmt, rust-clippy

chore(sdd): finalize phase 3 retro and mark tasks complete
  CLAUDE.md
  retro/P3.md
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): mark Phase 3 complete
  specs/001-smile-loop/tasks.md
Due: none

chore(sdd): initialize phase 4 retro
  retro/P4.md
Due: none

feat(orchestrator): add Tutorial types for tutorial loading
  crates/smile-orchestrator/src/lib.rs
  crates/smile-orchestrator/src/tutorial.rs
Due: rust-fmt, rust-clippy

feat(orchestrator): implement tutorial loading with size limit
  crates/smile-orchestrator/src/tutorial.rs
Due: rust-fmt, rust-clippy

feat(orchestrator): add image extraction and resolution
  Cargo.toml
  crates/smile-orchestrator/Cargo.toml
  crates/smile-orchestrator/src/tutorial.rs
Due: rust-fmt, rust-clippy

feat(cli): integrate tutorial loading in CLI
  crates/smile-cli/src/main.rs
Due: rust-fmt, rust-clippy

chore(sdd): finalize phase 4 retro and update CLAUDE.md
  CLAUDE.md
  retro/P4.md
Due: none

chore(sdd): mark Phase 4 complete
  specs/001-smile-loop/tasks.md
Due: none

chore: update Cargo.lock with regex dependency
  Cargo.lock
Due: none

chore(sdd): initialize phase 5 retro
  retro/P5.md
Due: none

feat(container): add Container, ContainerStatus, and Mount types
  Cargo.lock
  crates/smile-container/Cargo.toml
  crates/smile-container/src/lib.rs
Due: rust-fmt, rust-clippy

feat(container): implement Docker connection via bollard
  crates/smile-container/src/lib.rs
  crates/smile-container/src/manager.rs
Due: rust-fmt, rust-clippy

feat(container): implement container creation with volume mounts
  crates/smile-container/src/manager.rs
Due: rust-fmt, rust-clippy

feat(container): implement container start/stop/remove lifecycle
  crates/smile-container/src/manager.rs
Due: rust-fmt, rust-clippy

feat(container): implement container reset for iteration cycling
  crates/smile-container/src/manager.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: *.rs
  rust-clippy: any of: *.rs
  python-ruff: any of: *.py and ^python/
  python-ruff-format: any of: *.py and ^python/
